body{
    background: linear-gradient(rgba(192, 255, 206, 0.575), rgb(255, 255, 255));
   
}
#nome{
    text-align: center;
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
   
}
#foto{
    align-items: center;
    margin-left: 500px;
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    margin-top: 105px;
    border-radius: 150px;
    border:  4px solid rgb(0, 255, 128);;
background: #72fdbc;
box-shadow:  27px -27px 100px #51b485,
             -27px 27px 100px #93fff3;
}
h3{
    align-items: center;
    margin-left: 500px;
    padding: 10px;
font-size: 15px;
   
    font-family: 'Righteous', cursive;
    
    border-left: 4px solid rgb(0, 255, 128);
    
}
h2{
    text-align: center;
    background-color: rgba(127, 121, 133, 0.212);
    padding: 15px;
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    
    
}
h2:hover{
    background-color: rgba(39, 12, 65, 0.356);
    border-radius: 20px;
    border: 3px solid;
    border-image: linear-gradient(45deg, #c20d7c, #ffbb00 100%) 1;
    background: linear-gradient(rgba(160, 218, 172, 0.575), rgb(255, 255, 255));
  
}

a{
    text-decoration: none;
    font-size: 19px;
}
.logo{
    width: 90px;
   margin-right: 20px;
}
#tx01{
    font-size: 75px;
    color: rgba(0, 0, 0, 0.356)
}
#tx01:hover{
    color: rgba(47, 88, 52, 0.479);
}
#tx{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.356)
    
}
#menu2{
    position: absolute;
    background: linear-gradient(rgba(192, 255, 206, 0.575), rgb(255, 255, 255));
   
    border-radius: 15px;
    opacity: 0;
    z-index: -1;
    list-style: none;
    transition:  0.7s;
    font-size: 60px;
    padding: 15px;
    font-family: 'Righteous', cursive;
}
#menu2.active{
    opacity: 1;
    z-index: 1;
    list-style: none;
    transition:  0.7s;
margin-top: -1100px;}
#close{
    width: 55px;
}
#close{
padding: 15px;
}
